/*
 Theme Name:   Twenty Seventeen Child
 Theme URI:    http://example.com/twenty-seventeen-child/
 Description:  Twenty Fifteen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentyseventeen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-seventeen-child
*/

.company-heading{
background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

.company-sub-heading{
	background: linear-gradient(transparent 80%, #a3d4ff 80%);
}

p{
	line-height: 1.5em;
}

gallery-item:hover{
		opacity: .5;
}

.mokuji {
    display: block;
    background-color: #eee;
    border: 2px solid #fff;
    box-shadow: 0 0 0 2px #eee;
    padding: 1em;
	 line-height:30pt;
}
.mokuji2{
	padding: 3em;
}

.entry-title{
    padding: 0.2em 0.8em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}
.entry-title p {
    margin: 0; 
    padding: 0;
}

h2 {
     padding: 0.2em;
     background: linear-gradient(transparent 70%, #ffd6ff 70%);
	font-size: 17pt;
}

/* 
.has-sidebar #secondary{
	width: 30%;
} */

/* 
.has-sidebar #secondary{
	width: 30%;
} */